<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container mt-5 my-2 text-right">
      <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModalCenter">
          Novo <i class="fas fa-user-plus"></i></button> 
    </div>
    <div class="container">
          <table id="table" class="table table-hover">
          <thead>
            <tr>
              <th style="width: 5%">#</th>
              <th style="width: 34%">Nome</th>
              <th style="width: 30%">E-mail</th>
              <th style="width: 20%">Cargo</th>
              <th style="width: 11%"></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                  <th>3</th>
                  <td>Larry the Bird</td>
                  <td></td>
                  <td>@twitter</td>
                  <td> 
                      <div class="my-0">
                        <button type="button" class="btn btn-sm my-0 btn-outline-warning btn-rounded"><i class="fas fa-user-edit"></i></button>
                        <button type="button" class="btn btn-sm my-0 btn-outline-danger btn-rounded"><i class="fas fa-user-minus"></i></button>
                      </div>
                    </td>                        
                </tr>
                <tr>
                    <th>3</th>
                    <td>Larry the Bird</td>
                    <td></td>
                    <td>@twitter</td>
                    <td> 
                      <div class="my-0">
                          <button type="button" class="btn btn-sm my-0 btn-outline-warning btn-rounded"><i class="fas fa-user-edit"></i></button>
                          <button type="button" class="btn btn-sm my-0 btn-outline-danger btn-rounded"><i class="fas fa-user-minus"></i></button>
                      </div>                
                  </tr>
          </tbody>
        </table>
    </div>

      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Novo Funcionário</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="formulario_funcionario" class="form-horizontal" >
                  <fieldset>
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="nome_funcionario">Nome</label>  
                    <div class="col-md-12">
                      <input id="nome_funcionario" name="nome_funcionario" type="text" placeholder="Nome Completo" class="form-control" required="">
                    </div>
                  </div>
                  
                  <!-- Text input-->
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="email_funcionario">E-mail</label>  
                    <div class="col-md-12">
                      <input id="email_funcionario" name="email_funcionario" type="email" placeholder="exemplo@exemplo" class="form-control" required="">
                    </div>
                  </div>
                  <!-- Select Basic -->
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="cargo_funcionario">Cargo</label>
                    <div class="col-md-12">
                      <select id="cargo_funcionario" name="cargo_funcionario" class="form-control">
                        <option value="1">Funcionário</option>
                        <option value="2">Gerente</option>
                        <option value="3">Diretor</option>
                      </select>
                    </div>
                  </div>  
                </fieldset>
              </form>        
            </div>
            <div class="modal-footer">
              <button id="btn_salvar" type="button" class="btn btn-outline-primary">Salvar</button>
            </div>
          </div>
        </div>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/funcionarios.js"></script>
  </body>
</html>